body{
  font-family: 'FutureStd', Fallback, sans-serif;
}

.page{
  width: 300px;
  padding-top: 30px;
}

.title{
  font-size: 3em;
  color: black;
}

.bio {
  display: block;
}

.bio p{
  margin: 0 auto;
  font-size: 1em;
}

.buttons {
  padding-top: 50px;
}

.buttons a{
  text-decoration: none;
  color: hsl(0,0%,0%);
  font-size: 2em;
}

.buttons a:hover{
  cursor: pointer;
  color: hsl(150,50%,50%);
}

@font-face {
  font-family: FuturaStd;
  src: url("../assets/FuturaStd-Book.otf") format("opentype");
}

@font-face {
  font-family: FuturaStdBold;
  src: url("../assets/FuturaStd-Bold.otf") format("opentype");
}

.center{
  margin: 0 auto;
}

.inner-center{
  text-align: center;
}

.clear{
  clear: both;
}


