body{
}

.invisible {
  display: none;
}

.page{
  width: 300px;
  padding-top: 30px;
}

.title{
  size: 4em;
  color: black;
  font-family: 'FuturaStd', Fallback, sans-serif;
}

.text{
  font-family: 'open sans', Fallback, sans-serif;
}


.bio {
  display: block;
}

.bio .profile {
  border-radius: 3px;
  width: 150px;
  float: left;
}

.frontpage .post-meta {
  font-weight: 200;
  font-color: light-grey;
  float: right;
}

.frontpage {
  display: inline-block;
}

.bio img {
  margin-left: 72px;
}

.bio p{
  width: 300px;
  float: right;
}


.buttons {
  padding-top: 50px;
}

.tooltip {
  opacity: 0;
}

.drawing {
  font-size: 2em;
  font-family: 'FuturaStdBold', Fallback, sans-serif;
}

.vertical-text {
  transform: rotate(90deg);
}

.opell {
  color: red;
}

.vertical-text.opell{
  margin-top: 5px;
  margin-left: 11px;
}

.buttons a{
  text-decoration: none;
  margin-left: 27px;
  color: hsl(0,0%,0%);
  font-size: 3em;
  font-family: 'FuturaStdBold', Fallback, sans-serif;
}

.buttons a:hover{
  cursor: pointer;
  color: hsl(150,50%,50%);
}

@font-face {
  font-family: FuturaStd;
  src: url("../assets/FuturaStd-Book.otf") format("opentype");
}

@font-face {
  font-family: FuturaStdBold;
  src: url("../assets/FuturaStd-Bold.otf") format("opentype");
}

.center{
  margin: 0 auto;
}

.inner-center{
  text-align: center;
}

.clear{
  clear: both;
}


@media (min-width: 380px){
  .bio{
    width: 380px;
    display: inline;
  }

  .bio .profile{
    margin-left: 0px;
  }

  .bio p{
    width: 127px;
  }

  .buttons {
    width: 300px;
  }
}
